include ../cart/cart

.cart__popup
	.cart__wrapper
		button.cart__close
		.cart__content-wrapper
			.sidebar.sidebar-right-content
				+sidebar__cart()
				div.sidebar__headline
					.sidebar__headline--wrapper
						span make pizza
				div.sidebar__scroll
					span scroll