.slider
  .slider__container
    .slider__wrapper
      .slider__items
        .slider__item
          // Контент 1 слайда
        .slider__item
          // Контент 2 слайда
        .slider__item
          // Контент 3 слайда
  // Кнопки для перехода к предыдущему и следующему слайду
  a.slider__control(href='#' data-slide='prev')
  a.slider__control(href='#' data-slide='next')