include ../components/watch/watch
include ../components/popup/popup
include ../components/cart/cart

.main
  .main__container
    .main__pane
      .main__aside.col-lg-1.main__bg
        .main__logo
          include ../components/left-sidebar/left-sidebar
      .main__contents
        .app
          .app__content
            .layout.app__layout
              .layout__services
                .present
                  .present__header
                    <!--=====================================-->
                    <!--=        Header Area Start          =-->
                    <!--=====================================-->
                    include ../components/header/header
                    <!--=====================================-->
                    <!--=        Header Area End            =-->
                    <!--=====================================-->
                  .present__wrapper.present__onboarding-slider
                    .present__layout
                      .present-view__container
                        include ../components/headline/headline
                        .video
                          .video__play
                            a.video__open.playbtn(src=require('@videos/pizza.mp4') tabindex='0')
                              img(inline src=require('@images/svg/pizza/svg/023-pizza-slice-6.svg'))
                              .video-main__circle
                          p.video__description WATCH Pizzas it
              .layout__slider
                include ../components/swiper/swiper
      .main__sidebar.col-lg-1
        include ../components/right-sidebar/right-sidebar
