.app {
	@include size(12);
	&__content {
		flex-flow: column;
    display: flex;
    justify-content: center;
	}
	&__layout {
		display: flex;
		@include media-down('small') {
	    flex-direction: column-reverse;
	  }
	}
	&__services {
		flex: 2;
    display: flex;
	}
	&__slider {
		flex: 3;
    display: flex;
    align-items: center;
	}
}