.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  &-right-content {
    grid-template-rows: 25vh 50vh 25vh;
    // background-color: #ffffff;
    align-items: center;
  }
  &-left-content {
    grid-template-rows: 30vh 50vh;
  }
}
.sidebar__cart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 10vh;

  align-items: center;
  border: 1px solid rgba(255,255,255,.15);

  border-radius: 20px;
  position: relative;
  -webkit-transition: background-color .3s ease 0s;
  -o-transition: background-color .3s ease 0s;
  transition: background-color .3s ease 0s;
}

.button__cart {
  display: flex;
  flex-direction: column;
}
.button__cart svg {
  width: 35px;
  height: 35px
}


.cart {
  &__popup {
    // z-index: 100001;
    // transition: all 0.2s ease-in-out;
    // height: 100%;
    // top: 0;
    // background: rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  &__close {
    display: none;
    z-index: 9997;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  &__content-wrapper {
    // display: flex;
    // justify-content: flex-start;
    // overflow: auto;
    // height: 100%;
    // background-color: #fff;
    // -webkit-box-shadow: 0 0 87px 0;
    // box-shadow: 0 0 87px 0;
  }
}

.cart__popup.active {
  transition: all 0.2s ease-in-out;
  opacity: 1;
  pointer-events: auto;
}
.cart__popup.active .cart__wrapper {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  width: 280px;
  -webkit-transition: .6s;
  transition: .6s;
}