.header {
	&__content {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		z-index: 10;
		min-height: 140px;
		justify-content: flex-start;
	}
	&__menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 0;
		@media (max-width: 1300px) {
			display: none;
		}
		// @include media-down('large') {
	  //    display: none;
	  //  } 
	  //  method dont work
	}
	&__menu li {
		padding-right:	15px;
		position: relative;
	}
	&__menu-link {
		letter-spacing: 0.1rem;
    color: #ffffff;
    font-family: 'GillSansLightC';
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
	}
}
