.headline {
	flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headline__wrapper {
	font-family: 'GillSansCondC', sans-serif;; 
	font-weight: bold; 
	font-style: normal;
}
.headline__wrapper span {
	text-transform: uppercase;
	@include media-down('medium') {
    font-size: 100px;
  }
  @include media('large') {
    font-size: 120px;
  }
}
.headline__wrapper p {
	font-family: 'GillSansLightC'; 
	font-weight: normal; 
	font-style: normal;
	margin: 25px 0 35px 0;
}

