.ingredients {
	&__menu-item {

	}
	&__close {
		cursor: pointer;
    position: absolute;
    z-index: 2;
    flex: 0 0 55px;
    font-size: .70rem;
    right: 0;
    border-radius: 50%;
    font-weight: 900;
    line-height: 155%;
    text-align: center;
	}
	&__close:hover {
	  opacity: 1;
	}
	&__close:before, &__close:after {
	  position: absolute;
	  top: -3px;
	  left: 33px;
	  content: ' ';
	  height: 11px;
	  width: 2px;
	  background-color: #E53934;
	}
	&__close:before {
	  transform: rotate(45deg);
	}
	&__close:after {
	  transform: rotate(-45deg);
	}
	img {
		width: 30px
	}
	&__button {
		margin-left: 80px
	}
	&_pizza img {
		width: 40px
	}
	&__button button {
		border: 2px solid hsl(260deg,100%,50%);
		border-radius: 1.6em;
		background: #F5F5F5;
		color: hsla(260deg,100%,50%,1);
		border: none;
		font-size: 1.1em;
		padding: 0.6em 1.5em;
		text-transform: uppercase;
		font-family: 'GillSansC';
		color: #484848
	}
	&__elements {
		display: flex;
    justify-content: flex-end;
		@include size-md(12);
	}
	
}
