.right__col {
	display: flex
}
.slider {
	display: flex;
	flex-grow: 1;
}
.sidebar__headline {
	display: flex;
  flex: 0 0 45%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
	height: 100%;
	width: 100%;

}
.sidebar__scroll {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	flex: 0 0 10%;
	height: 100%;
	width: 100%;

}
.sidebar__headline--wrapper {
	position: absolute;
	bottom: 50%;
	display: flex;
	width: 200px;
	margin: 0 auto;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	justify-content: center;
	align-items: center;
}
.sidebar__headline--wrapper span {
	font-family: 'GillSansC';
	font-size: 28px;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
}
.sidebar__cart--wrapper {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.sidebar__scroll:before {
  content: "";
  background-color: #3730a3;
  height: 80px;
  width: 1px;
  transform: rotate(180deg);
}
.sidebar__scroll span {
	margin-top: 20px;
  text-transform: capitalize;
  font-family: 'GillSansLightC';
  font-weight: normal;
  font-style: normal;
  display: block;
  transform: rotate(-90deg);
}