-
  const pizza__item = [
    {
      img: 'product-img-1.png',
      title: 'Margarita',
      text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'
    },
    {
      img: 'product-img-2.png',
      title: 'Pepperoni',
      text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'
    },
    {
      img: 'product-img-3.png',
      title: 'Barbeque Chicken',
      text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'
    },
    {
      img: 'product-img-4.png',
      title: 'Vegetarian',
      text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'
    }
  ]