body, html {
  height: 100%;
  min-width: 320px;
}

img, video {
  max-width: 100%;
}

.panel__bg {
  background-color: #ffffff !important;
}

.col-lg-12 {
  flex: 0 0 auto;
  @include size(12);
}
.col-lg-11 {
  flex: 0 0 auto;
  @include size(11);
}
.col-lg-10 {
  flex: 0 0 auto;
  @include size(10);
}
.col-lg-9 {
  flex: 0 0 auto;
  @include size(9);
}
.col-lg-8 {
  flex: 0 0 auto;
  @include size(8);
}
.col-lg-7 {
  flex: 0 0 auto;
  @include size(7);
}
.col-lg-6 {
  flex: 0 0 50%;
  @include size(6);
}
.col-lg-5 {
  flex: 0 0 auto;
  @include size(5);
}
.col-lg-4 {
  flex: 0 0 33.33333%;
  @include size(4);
}
.col-lg-3 {
  flex: 0 0 auto;
  @include size(3);
}
.col-lg-2 {
  flex: 0 0 16.66667%;
  @include size(2);
}
.col-lg-1 {
  flex: 0 0 7.33333%;
  @include size(1);
}