mixin mobile()
	.mobile
		.mobile__menu
			span
			span
			span

mixin mobile-popup()
	.mobile__popup
		.mobile__overlay-close
		.mobile__wrapper
			button.mobile__close
			.mobile__content-wrapper
				.mobile__content
					.mobile__search
					nav.mobile__navigation
						.offcanvas-mobile-menu__navigation
						.offcanvas-mobile-menu__middle
						.offcanvas-mobile-menu__widgets
