mixin watch(img, text, bg)
	.market
		if bg
			.market__info
				.video_wrapper
					span.play
						a.svg(href='/')
							img(inline src=`${img}`)
			p.play-info #{text}
		else
			.market__button
				a.market__circle(href='/')
					img(inline src=`${img}`)
					span.play-about #{text}