//- button.sidebar__cart.tab.badge
//- 	span.button__cart
//- 		include svg/004-online-shop.svg
//- 	//- a(href="#"): img(src="img/svg/cart/svg/004-online-shop.svg")
//- 	span cart

mixin sidebar__cart()
	.sidebar__cart
		span.basket
			.basket__wrapper
				a(href='/').basket__link
					div.basket__image
						include svg/004-online-shop.svg
			.basket__cart--count 1
		span.basket__cart--text cart

mixin cart__popup()
	.cart__wrapper
		button.cart__close
		.cart__content-wrapper
			//- .cart__content
			block