-
  const menu = [
    {
      link: '/pizzas.html',
      text: 'Pizzas'
    },
    {
      link: '/delivery.html',
      text: 'Delivery'
    },
    {
      link: '/',
      text: 'Contacts'
    },
    {
      link: '/',
      text: 'Login'
    },
    {
      link: '/',
      text: 'Register'
    },
  ]