-
  const ingredients = [
    {
      src: 'salad.svg',
      text: 'salad'
    },
    {
      src: 'star.svg',
      text: 'star'
    },
    {
      src: 'vegetables.svg',
      text: 'vegetables'
    }
  ]
